-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: quizzysmart
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `quizzysmart`
--

/*!40000 DROP DATABASE IF EXISTS `quizzysmart`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `quizzysmart` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `quizzysmart`;

--
-- Table structure for table `AiSearchHistory`
--

DROP TABLE IF EXISTS `AiSearchHistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AiSearchHistory` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `userId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `imageBase64` longtext COLLATE utf8mb4_unicode_ci,
  `knowledgeBaseIds` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `recognizedText` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `extractedOptions` text COLLATE utf8mb4_unicode_ci,
  `matchedQuestionId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `matchedQuestion` longtext COLLATE utf8mb4_unicode_ci,
  `confidence` int NOT NULL,
  `modelUsed` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `modelPriority` int NOT NULL,
  `inputTokens` int NOT NULL,
  `outputTokens` int NOT NULL,
  `totalTokens` int NOT NULL,
  `responseTime` int NOT NULL,
  `success` tinyint(1) NOT NULL DEFAULT '1',
  `errorMessage` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `AiSearchHistory_userId_idx` (`userId`),
  KEY `AiSearchHistory_createdAt_idx` (`createdAt`),
  KEY `AiSearchHistory_modelUsed_idx` (`modelUsed`),
  CONSTRAINT `AiSearchHistory_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `User` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `AiSearchHistory`
--

LOCK TABLES `AiSearchHistory` WRITE;
/*!40000 ALTER TABLE `AiSearchHistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `AiSearchHistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Attempt`
--

DROP TABLE IF EXISTS `Attempt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Attempt` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mode` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `startedAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `completedAt` datetime(3) DEFAULT NULL,
  `score` double DEFAULT NULL,
  `settings` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `userId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `knowledgeBaseId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `testId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Attempt_userId_idx` (`userId`),
  KEY `Attempt_knowledgeBaseId_idx` (`knowledgeBaseId`),
  KEY `Attempt_testId_idx` (`testId`),
  CONSTRAINT `Attempt_knowledgeBaseId_fkey` FOREIGN KEY (`knowledgeBaseId`) REFERENCES `KnowledgeBase` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Attempt_testId_fkey` FOREIGN KEY (`testId`) REFERENCES `tests` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Attempt_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `User` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Attempt`
--

LOCK TABLES `Attempt` WRITE;
/*!40000 ALTER TABLE `Attempt` DISABLE KEYS */;
/*!40000 ALTER TABLE `Attempt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `AttemptAnswer`
--

DROP TABLE IF EXISTS `AttemptAnswer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `AttemptAnswer` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `selectedIndex` int DEFAULT NULL,
  `isCorrect` tinyint(1) DEFAULT NULL,
  `attemptId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `questionId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `AttemptAnswer_attemptId_idx` (`attemptId`),
  KEY `AttemptAnswer_questionId_idx` (`questionId`),
  CONSTRAINT `AttemptAnswer_attemptId_fkey` FOREIGN KEY (`attemptId`) REFERENCES `Attempt` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `AttemptAnswer_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `Question` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `AttemptAnswer`
--

LOCK TABLES `AttemptAnswer` WRITE;
/*!40000 ALTER TABLE `AttemptAnswer` DISABLE KEYS */;
/*!40000 ALTER TABLE `AttemptAnswer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `KnowledgeBase`
--

DROP TABLE IF EXISTS `KnowledgeBase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `KnowledgeBase` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `userId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `KnowledgeBase_userId_idx` (`userId`),
  CONSTRAINT `KnowledgeBase_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `User` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `KnowledgeBase`
--

LOCK TABLES `KnowledgeBase` WRITE;
/*!40000 ALTER TABLE `KnowledgeBase` DISABLE KEYS */;
/*!40000 ALTER TABLE `KnowledgeBase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Question`
--

DROP TABLE IF EXISTS `Question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Question` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `text` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `correctAnswerIdx` int NOT NULL,
  `source` text COLLATE utf8mb4_unicode_ci,
  `category` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `baseId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Question_baseId_idx` (`baseId`),
  CONSTRAINT `Question_baseId_fkey` FOREIGN KEY (`baseId`) REFERENCES `KnowledgeBase` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Question`
--

LOCK TABLES `Question` WRITE;
/*!40000 ALTER TABLE `Question` DISABLE KEYS */;
/*!40000 ALTER TABLE `Question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `QuestionProgress`
--

DROP TABLE IF EXISTS `QuestionProgress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `QuestionProgress` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `studyPlanId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `questionId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `difficultyLevel` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lastReviewed` datetime(3) DEFAULT NULL,
  `reviewCount` int NOT NULL DEFAULT '0',
  `nextReviewAfter` int DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `QuestionProgress_studyPlanId_questionId_key` (`studyPlanId`,`questionId`),
  KEY `QuestionProgress_studyPlanId_idx` (`studyPlanId`),
  CONSTRAINT `QuestionProgress_studyPlanId_fkey` FOREIGN KEY (`studyPlanId`) REFERENCES `StudyPlan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `QuestionProgress`
--

LOCK TABLES `QuestionProgress` WRITE;
/*!40000 ALTER TABLE `QuestionProgress` DISABLE KEYS */;
/*!40000 ALTER TABLE `QuestionProgress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `StudyPlan`
--

DROP TABLE IF EXISTS `StudyPlan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `StudyPlan` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `userId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `knowledgeBaseId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `knowledgeBaseName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `totalDays` int NOT NULL,
  `minutesPerDay` int NOT NULL,
  `questionsPerDay` int NOT NULL,
  `currentPhase` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'initial',
  `startDate` datetime(3) NOT NULL,
  `endDate` datetime(3) NOT NULL,
  `currentDay` int NOT NULL DEFAULT '1',
  `newQuestionsLearned` int NOT NULL DEFAULT '0',
  `completedQuestions` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `StudyPlan_userId_idx` (`userId`),
  KEY `StudyPlan_knowledgeBaseId_idx` (`knowledgeBaseId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `StudyPlan`
--

LOCK TABLES `StudyPlan` WRITE;
/*!40000 ALTER TABLE `StudyPlan` DISABLE KEYS */;
/*!40000 ALTER TABLE `StudyPlan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Subscription`
--

DROP TABLE IF EXISTS `Subscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Subscription` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `userId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `plan` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `price` int NOT NULL,
  `aiQuota` int NOT NULL,
  `duration` int NOT NULL,
  `status` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `paymentMethod` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'bank_transfer',
  `transactionCode` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telegramMessageId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `qrCode` text COLLATE utf8mb4_unicode_ci,
  `checkoutUrl` text COLLATE utf8mb4_unicode_ci,
  `accountNumber` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `accountName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bin` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `paymentLinkId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `purchasedAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `activatedAt` datetime(3) DEFAULT NULL,
  `expiresAt` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Subscription_transactionCode_key` (`transactionCode`),
  KEY `Subscription_userId_idx` (`userId`),
  KEY `Subscription_status_idx` (`status`),
  CONSTRAINT `Subscription_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `User` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Subscription`
--

LOCK TABLES `Subscription` WRITE;
/*!40000 ALTER TABLE `Subscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `Subscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `TestAssignment`
--

DROP TABLE IF EXISTS `TestAssignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `TestAssignment` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `testId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `userId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `assignedAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `TestAssignment_testId_userId_key` (`testId`,`userId`),
  KEY `TestAssignment_testId_idx` (`testId`),
  KEY `TestAssignment_userId_idx` (`userId`),
  CONSTRAINT `TestAssignment_testId_fkey` FOREIGN KEY (`testId`) REFERENCES `tests` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `TestAssignment_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `User` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `TestAssignment`
--

LOCK TABLES `TestAssignment` WRITE;
/*!40000 ALTER TABLE `TestAssignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `TestAssignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `User`
--

DROP TABLE IF EXISTS `User`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `User` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `branchCode` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `picture` text COLLATE utf8mb4_unicode_ci,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `role` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'user',
  `aiSearchQuota` int NOT NULL DEFAULT '10',
  `quickSearchQuota` int NOT NULL DEFAULT '50',
  `currentDeviceId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `currentSessionToken` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pendingThankYouPopup` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_username_key` (`username`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `User`
--

LOCK TABLES `User` WRITE;
/*!40000 ALTER TABLE `User` DISABLE KEYS */;
/*!40000 ALTER TABLE `User` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `logs` text COLLATE utf8mb4_unicode_ci,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `applied_steps_count` int unsigned NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
INSERT INTO `_prisma_migrations` VALUES ('bb5fc0b4-57e1-4af7-8b95-73913611b7e5','0e5149289fa635f876310023c0c28043daa2b958908bb7c1fa499e2d11b6d6e3','2026-01-27 07:40:41.751','20260127062312_reinit_with_utf8mb4',NULL,NULL,'2026-01-27 07:40:40.244',1);
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_messages` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `userId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `documentId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `userMessage` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `botResponse` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `retrievedChunks` longtext COLLATE utf8mb4_unicode_ci,
  `modelUsed` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `inputTokens` int NOT NULL DEFAULT '0',
  `outputTokens` int NOT NULL DEFAULT '0',
  `totalTokens` int NOT NULL DEFAULT '0',
  `isDeepSearch` tinyint(1) NOT NULL DEFAULT '0',
  `confidence` double DEFAULT NULL,
  `cacheHit` tinyint(1) NOT NULL DEFAULT '0',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `chat_messages_userId_idx` (`userId`),
  KEY `chat_messages_documentId_idx` (`documentId`),
  KEY `chat_messages_createdAt_idx` (`createdAt`),
  KEY `chat_messages_isDeepSearch_idx` (`isDeepSearch`),
  CONSTRAINT `chat_messages_documentId_fkey` FOREIGN KEY (`documentId`) REFERENCES `documents` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `chat_messages_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `User` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_chunks`
--

DROP TABLE IF EXISTS `document_chunks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_chunks` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `documentId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `chunkIndex` int NOT NULL,
  `chunkType` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `metadata` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `qdrantPointId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `embeddingStatus` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `document_chunks_documentId_idx` (`documentId`),
  KEY `document_chunks_chunkType_idx` (`chunkType`),
  KEY `document_chunks_embeddingStatus_idx` (`embeddingStatus`),
  CONSTRAINT `document_chunks_documentId_fkey` FOREIGN KEY (`documentId`) REFERENCES `documents` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_chunks`
--

LOCK TABLES `document_chunks` WRITE;
/*!40000 ALTER TABLE `document_chunks` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_chunks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documents` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fileName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fileSize` int NOT NULL,
  `filePath` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `uploadedAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `uploadedBy` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `documentNumber` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `documentName` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `documentType` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `issuingAgency` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signerName` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signerTitle` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signedDate` datetime(3) DEFAULT NULL,
  `rawContent` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `markdownContent` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `qdrantCollectionName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'vietnamese_documents',
  `qdrantPointIds` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `processingStatus` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'processing',
  `errorMessage` text COLLATE utf8mb4_unicode_ci,
  `processingStartedAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `processingCompletedAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `documents_uploadedBy_idx` (`uploadedBy`),
  KEY `documents_processingStatus_idx` (`processingStatus`),
  KEY `documents_uploadedAt_idx` (`uploadedAt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documents`
--

LOCK TABLES `documents` WRITE;
/*!40000 ALTER TABLE `documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gemini_api_calls`
--

DROP TABLE IF EXISTS `gemini_api_calls`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gemini_api_calls` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `endpoint` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `modelName` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `modelPriority` int NOT NULL DEFAULT '0',
  `userId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `requestType` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sessionId` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `inputTokens` int NOT NULL DEFAULT '0',
  `outputTokens` int NOT NULL DEFAULT '0',
  `totalTokens` int NOT NULL DEFAULT '0',
  `inputCost` double NOT NULL DEFAULT '0',
  `outputCost` double NOT NULL DEFAULT '0',
  `totalCost` double NOT NULL DEFAULT '0',
  `startTime` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `endTime` datetime(3) DEFAULT NULL,
  `duration` int NOT NULL DEFAULT '0',
  `status` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `errorMessage` text COLLATE utf8mb4_unicode_ci,
  `retryCount` int NOT NULL DEFAULT '0',
  `metadata` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `gemini_api_calls_userId_idx` (`userId`),
  KEY `gemini_api_calls_modelName_idx` (`modelName`),
  KEY `gemini_api_calls_requestType_idx` (`requestType`),
  KEY `gemini_api_calls_startTime_idx` (`startTime`),
  KEY `gemini_api_calls_status_idx` (`status`),
  KEY `gemini_api_calls_sessionId_idx` (`sessionId`),
  CONSTRAINT `gemini_api_calls_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `User` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gemini_api_calls`
--

LOCK TABLES `gemini_api_calls` WRITE;
/*!40000 ALTER TABLE `gemini_api_calls` DISABLE KEYS */;
/*!40000 ALTER TABLE `gemini_api_calls` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `model_settings`
--

DROP TABLE IF EXISTS `model_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `model_settings` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `defaultModel` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'gemini-2.5-flash',
  `cheaperModel` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'gemini-2.0-flash-lite',
  `embeddingModel` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'gemini-embedding-001',
  `updatedAt` datetime(3) NOT NULL,
  `updatedBy` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `model_settings`
--

LOCK TABLES `model_settings` WRITE;
/*!40000 ALTER TABLE `model_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `model_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subscription_plans`
--

DROP TABLE IF EXISTS `subscription_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subscription_plans` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `planId` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `price` int NOT NULL,
  `aiQuota` int NOT NULL,
  `duration` int NOT NULL,
  `features` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `displayOrder` int NOT NULL DEFAULT '0',
  `popular` tinyint(1) NOT NULL DEFAULT '0',
  `bestChoice` tinyint(1) NOT NULL DEFAULT '0',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `subscription_plans_planId_key` (`planId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subscription_plans`
--

LOCK TABLES `subscription_plans` WRITE;
/*!40000 ALTER TABLE `subscription_plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `subscription_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_settings` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `modelRotationEnabled` tinyint(1) NOT NULL DEFAULT '1',
  `defaultModel` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'gemini-2.5-flash',
  `peakHoursEnabled` tinyint(1) NOT NULL DEFAULT '0',
  `peakHoursStart` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `peakHoursEnd` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `peakHoursDays` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `updatedAt` datetime(3) NOT NULL,
  `updatedBy` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tests`
--

DROP TABLE IF EXISTS `tests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tests` (
  `id` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(191) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `questionCount` int NOT NULL,
  `timeLimit` int NOT NULL,
  `maxAttempts` int NOT NULL DEFAULT '0',
  `startTime` datetime(3) DEFAULT NULL,
  `endTime` datetime(3) DEFAULT NULL,
  `knowledgeSources` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `questionOrder` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT '1',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tests`
--

LOCK TABLES `tests` WRITE;
/*!40000 ALTER TABLE `tests` DISABLE KEYS */;
/*!40000 ALTER TABLE `tests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'quizzysmart'
--

--
-- Dumping routines for database 'quizzysmart'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-27  7:42:47
